body{
  background: hsl(0, 0%, 98%) !important; 

}

.grey{
  color: hsl(0, 0%, 41%) !important;
  font-weight: 500 !important;
}

.do{
  background: hsl(0, 0%, 98%) !important;
  border-radius: 15px !important;
  border-color: hsl(0, 0%, 41%) !important;
  color: hsl(0, 0%, 41%) !important;


}

.do:hover{
  border-color: black !important;
  color: black !important;
  background: hsl(0, 0%, 98%) !important;
}





/* end nav */

/* start body */

.big{
  font-weight: 700 !important;
}





.navbar-toggler-icon {
  background-image: url(images/icon-menu.svg) !important;
}

button.btn-close{
  background-image: url(images/icon-close-menu.svg) !important;
}

a#offcanvasNavbarDropdown-expand-md.dropdown-toggle.nav-link::after{
  background-image: url(images/client-audiophile.svg) !important ; 
}

.dropdown-menu.show{
     border: 5px solid white;
     
}
  /* .show {
  width: 60vw !important;
} */

.navlink{
  background-image: url('./images/icon-calendar.svg');
}

.offcanvas{
  width: 60vw !important;
}

.btn:hover{
  background:  hsl(0, 0%, 98%) !important;
  color:  hsl(0, 0%, 8%) !important;
}

/* body{
  font-family:Epilogue !important;
  
} */

.large{
  font-weight: 500 !important;
}
.nav-link::after{
  background-image: url('./images//client-audiophile.svg') !important;
}